# Для пакера нужно создавать собственную сеть и секурити групп
# т.к, видимо вк-клауд не дает установить ssh соединение если ставить просто интернет(возможно ограничение)

network_id      = "УКАЖИТЕ_UUID_ВАШЕЙ_СЕТИ"  # openstack network list
security_groups = ["УКАЖИТЕ_ВАШУ_SG"]  # например: ["packer-sg"] или ["all"] Потребуется ssh!
flavor          = "STD2-2-4"                                # Тип ВМ для сборки
source_image    = "a4e699d3-a66d-45e5-bb5d-70ea7c8de62d"   # Базовый образ Ubuntu